[unstable]
build-std = ["std", "panic_abort"]

[target.'cfg(target_arch="wasm32")']
runner = "wasm-bindgen-test-runner"
rustflags = ["-C", "target-feature=+atomics",
    "-Clink-arg=--shared-memory",
    # 4GB
    "-Clink-arg=--max-memory=4294967296",
    "-Clink-arg=--import-memory",
    "-Clink-arg=--export=__wasm_init_tls",
    "-Clink-arg=--export=__tls_size",
    "-Clink-arg=--export=__tls_align",
    "-Clink-arg=--export=__tls_base",
]
